@use './variables' as var;

.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #ebeef0ff;
  display: flex;
  flex-direction: column;
  .app-header {
    height: var.$headerHeight;
    background-color: #fff;
  }
  .app-container {
    display: flex;
    height: 100%;
    min-height: calc(100vh - #{var.$headerHeight});
  }
  .app-aside {
    width: var.$sidebarWidth;
    background-color: #f2f6fa;
  }
  .app-main {
    flex: 1;
  }
}
